<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>empresa</display-name>

	<servlet>
		<display-name>MostrarEmpleados</display-name>
		<servlet-name>MostrarEmpleados</servlet-name>
		<servlet-class>controller.MostrarEmpleados</servlet-class>
	</servlet>
	<servlet>
		<display-name>SalarioEmpleado</display-name>
		<servlet-name>SalarioEmpleado</servlet-name>
		<servlet-class>controller.SalarioEmpleado</servlet-class>
	</servlet>
	<servlet>
		<display-name>ModificarEmpleado</display-name>
		<servlet-name>ModificarEmpleado</servlet-name>
		<servlet-class>controller.ModificarEmpleado</servlet-class>
	</servlet>
	<servlet>
		<display-name>ModificarBD</display-name>
		<servlet-name>ModificarBD</servlet-name>
		<servlet-class>controller.ModificarBD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MostrarEmpleados</servlet-name>
		<url-pattern>/MostrarEmpleados</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SalarioEmpleado</servlet-name>
		<url-pattern>/SalarioEmpleado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarEmpleado</servlet-name>
		<url-pattern>/ModificarEmpleado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificarBD</servlet-name>
		<url-pattern>/ModificarBD</url-pattern>
	</servlet-mapping>
</web-app>